body {
  margin: 0;
}

@font-face {
  font-family: "OpenSans-Regular";
  src: url("https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Regular.woff")
    format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "OpenSans-Bold";
  src: url("https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Bold.woff")
    format("truetype");
  font-style: normal;
  font-weight: normal;
}

header {
  background-color: #000;
  background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/banner-bg.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-bottom: 63px;
  padding-top: 26px;
  height: 450px;
  box-sizing: border-box;
}

header::after {
  content: "";
  background-color: #000;
  position: absolute;
  opacity: 0.6;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.header-container {
  box-sizing: border-box;
  max-width: 1200px;
  margin: 0 auto;
}

.first-line {
  display: flex;
  flex-direction: row;
  position: relative;
  z-index: 4;
  justify-content: space-between;
  box-sizing: border-box;
  align-items: center;
}

.first-line > a,
li a {
  text-decoration: none;
  color: #fff;
}

.menu {
  justify-content: space-between;
  width: 550px;
}

.menu-list {
  display: flex;
  position: relative;
  z-index: 2;
  width: auto;
  list-style-type: none;
  text-transform: uppercase;
  font-family: OpenSans-Regular;
  justify-content: space-between;
  padding-left: 0;
}

.menu-list > li {
  width: auto;
  height: auto;
}

.header-logo {
  position: relative;
  z-index: 2;
  height: 40px;
}

.container-welcome {
  position: relative;
  z-index: 2;
  font-family: OpenSans-Bold;
  font-size: 45px;
  line-height: 75px;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  width: 730px;
  margin: 65px auto 0;
}

.first-line > a:visited,
li a,
.first-line > a:active,
li a {
  color: #fff;
}

main {
  margin-top: 60px;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}

.keywords {
  text-transform: uppercase;
  word-spacing: 15px;
  padding-bottom: 5px;
  font-family: OpenSans-Bold;
  color: #b59f5b;
}

.posts {
  display: flex;
  flex-direction: column;
  width: 780px;
}

.post {
  display: flex;
  box-sizing: border-box;
  width: 100%;
}

.post:nth-child(n + 2) {
  margin-top: 60px;
}

.post-photo {
  margin-right: 30px;
}

.post-img {
  width: 381px;
  height: 294px;
}

.post-title {
  text-transform: uppercase;
  padding-bottom: 10px;
  font-size: 20px;
  font-family: OpenSans-Bold;
}

.date-author {
  display: flex;
  padding-bottom: 55px;
  font-family: OpenSans-Regular;
  font-size: 15px;
}

time {
  padding-right: 15px;
  color: grey;
}

.author {
  font-weight: 700;
}

.post-description {
  font-family: OpenSans-Regular;
  font-size: 15px;
}

.post-title > a,
.post-title > a:active,
.post-title h4 > a {
  text-decoration: none;
  color: #000;
}

h4 {
  margin: 0;
}

.keywords > a {
  text-decoration: none;
  color: #b59f5b;
  padding-right: 20px;
}

aside {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  width: 270px;
}

.new-posts {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
}

.new-posts > h4 {
  margin-bottom: 40px;
  position: relative;
}

.new-posts > h4,
.new-post-title {
  font-family: OpenSans-Bold;
  text-transform: uppercase;
}

.new-posts > h4::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 65px;
  height: 3px;
  background-color: #e1d9bd;
  right: 0;
  margin: -15px auto;
}

.new-post {
  display: flex;
  box-sizing: border-box;
  margin-right: auto;
}

.new-post:nth-child(n + 2) {
  margin-bottom: 20px;
}

.new-post:last-child {
  margin-bottom: 60px;
}

.new-post-photo {
  margin-right: 20px;
  width: 70px;
}

.new-post-title {
  text-transform: uppercase;
  font-family: OpenSans-Bold;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  font-size: 14px;
  line-height: 18px;
  width: 190px;
}

.search {
  display: flex;
  margin: 60px 0;
}

.field {
  box-sizing: border-box;
  width: 223px;
  border: 2px solid #dadada;
  padding-right: 25px;
  padding-left: 15px;
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  height: 47px;
  border-radius: 0;
  background-color: #fff;
  font-family: OpenSans-Regular;
  margin: 0;
}

.search button {
  width: 47px;
  height: 47px;
  background-color: #b59f5b;
  background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/search.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 20px;
  border-width: 0;
  padding: 0;
}

.field:focus {
  outline: none;
  border-color: #b59f5b;
}

.new-post-img {
  margin-right: 20px;
  width: 70px;
  height: 70px;
}

input {
  height: 47px;
  width: 47px;
  background: #b59f5b;
  color: #000;
}

.mailing {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
}

.mailing > h4 {
  position: relative;
  font-family: OpenSans-Bold;
  text-transform: uppercase;
}

.mailing > h4::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 65px;
  height: 3px;
  background-color: #e1d9bd;
  right: 0;
  display: block;
  margin: -15px auto;
}

.subscribe-field {
  box-sizing: border-box;
  width: 100%;
  background-color: #f4f7f6;
  border-radius: 0;
  border: 0;
  font-family: OpenSans-Regular;
  font-size: 14px;
  padding: 10px 25px 10px 15px;
}

.subscribe-field:focus {
  outline: none;
  border-color: #b59f5b;
}

.subscribe {
  box-sizing: border-box;
  margin-top: 40px;
}

.button-sub {
  box-sizing: border-box;
  width: 100%;
  border: 2px solid #dadada;
  display: inline-block;
  font-size: 14px;
  height: 47px;
  border-radius: 0;
  background-color: #b59f5b;
  margin-top: 20px;
  font-family: OpenSans-Bold;
  text-transform: uppercase;
  color: #fff;
}

.tags {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  margin-top: 40px;
}

.tags > h4 {
  font-family: OpenSans-Bold;
  text-transform: uppercase;
  position: relative;
  align-self: center;
  margin-bottom: 30px;
}

.tags > h4::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -10px;
  width: 65px;
  height: 3px;
  background-color: #e1d9bd;
  right: 0;
  display: block;
  margin: -15px auto;
}

.tag-container {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  margin-top: 30px;
}

.tag-container li {
  height: 30px;
  box-sizing: border-box;
  align-items: center;
  margin: 6px 0 0 5px;
}

.tag-container a {
  text-decoration: none;
  color: #000;
  font-family: OpenSans-Bold;
  text-transform: uppercase;
  font-size: 12px;
  border: 3px solid #eee;
  padding: 5px 10px;
}

.tag-container a:hover {
  border: 3px solid #b59f5b;
}

.tag-container > a {
  text-decoration: none;
  margin: auto;
}

.tag-container > a:visited,
.tag-container > a:active {
  color: #000;
}

.themes {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.themes h4 {
  display: flex;
  font-family: OpenSans-Bold;
  text-transform: uppercase;
  position: relative;
}

.themes > h4::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -5px;
  width: 65px;
  height: 3px;
  background-color: #e1d9bd;
  right: 0;
  display: block;
  margin: -15px auto;
}

.themes-container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  margin-top: 40px;
}

.themes-container li {
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  border-bottom: 1px solid #eee;
  padding-top: 10px;
}

.themes-container a {
  text-decoration: none;
  color: #000;
  font-family: OpenSans-Bold;
  text-transform: capitalize;
  font-size: 14px;
}

.counter {
  font-family: OpenSans-Bold;
  color: #b59f5b;
  vertical-align: super;
  font-size: small;
}

.themes-container > a {
  text-decoration: none;
  margin: auto;
}

.themes-container > a:visited,
.themes-container > a:active {
  color: #000;
}

.footer {
  display: flex;
  box-sizing: border-box;
  width: 1200px;
  height: 83px;
  background-color: #f4f7f6;
  margin: 65px auto 75px;
}

.social-network {
  display: flex;
  width: 230px;
  box-sizing: border-box;
  background-size: 5px;
  margin-right: auto;
  margin-left: auto;
  justify-content: space-between;
  align-items: center;
}

.copyright {
  display: flex;
  color: grey;
  text-align: center;
  margin-bottom: 40px;
  font-family: OpenSans-Regular;
}

.social-network > a {
  text-decoration: none;
  color: grey;
  margin: auto;
}

.copyright > a {
  text-decoration: none;
  color: grey;
  margin: auto;
}

ul {
  display: flex;
  list-style-type: none;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
}

.social-network li {
  width: 25px;
  height: 25px;
}

.twitter,
.pinterest,
.facebook,
.instagramm,
.tumblr {
  position: relative;
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-size: contain;
}

.fa-twitter,
.fa-pinterest-p,
.fa-facebook-f,
.fa-instagram,
.fa-tumblr {
  font-size: 25px;
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  background-color: transparent;
  color: #000;
}

.social-network > a:visited,
.social-network > a:active,
.copyright > a:visited,
.copyright > a:active {
  color: grey;
}

.fa-twitter:hover {
  color: #1DA1F2;
}

.fa-pinterest-p:hover {
  color: #E60023;
}

.fa-facebook-f:hover {
  color: #3b5998;
}

.fa-instagram:hover {
  color: #f09433;
}

.fa-tumblr:hover {
  color: #36465D;
}