body {
  margin: 0;
}

@font-face {
  font-family: "OpenSans-Regular";
  src: url("https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Regular.woff")
    format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "OpenSans-Bold";
  src: url("https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Bold.woff")
    format("truetype");
  font-style: normal;
  font-weight: normal;
}

header {
  background-color: #000;
  background-image: url(https://www.calculators.org/graphics/healthy-body-comparison.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-bottom: 63px;
  padding-top: 26px;
  height: 450px;
  box-sizing: border-box;
}

header::after {
  content: "";
  background-color: #000;
  position: absolute;
  opacity: 0.6;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
